
  <nav class="navbar navbar-expand-lg navbar-light bg-light sticky-top">
    <div class="container-fluid">
      <a class="navbar-brand" >Awesome Garage</a>

          <li class="nav-item">
            <%= link_to 'Home', root_path, class: 'nav-link' %>
          </li>
          <li class="nav-item">
            <%= link_to 'My garage', favourites_path, class: 'nav-link' %>
          </li>
        </ul>
      </div>
    </div>
  </nav>
